*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-color: #223342;
}

header {
  padding: 50px 15px 8px;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}